{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.body, { 'attr': {
        'rows' : '10',
        'cols' : '10' }}) }}
    <button class="btn btn-default" type="submit">Сохранить</button>
    {{ form_end(form) }}
    {% block javascripts %}
        <script src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
{% endblock %}